* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("../media/background.png");
	align-content: center;
	align-items: space-around;
	background-color: #202830;
	display: grid;
	justify-items: center;
	height: 100%;
	width: 100%;
}

h1 {
	margin-top: 50px;
	color: #ffffff;
	font-family: "Ubuntu", sans-serif;
	font-size: 40px;
}

footer {
	color: #ffffff;
	font-family: "Ubuntu", sans-serif;
	font-size: 12px;
}

canvas {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
}

iframe {
	width: 100%;
	height: 1000px;
}

button {
	display: inline-block;
	padding: 5px 5px;
	border: 1px solid #ffffff;
	margin: 1px 5px 5px 1px;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #ffffff;
	background-color: #222222;
	text-align: center;
	transition: all 0.2s;
}

button:hover {
	color: #000000;
	background-color: #ffffff;
}

.container {
	width: 100%;
	float: left;
	text-align: center;
}
.container button {
	display: inline-block;
}

#game1,
#game3 {
	display: none;
}

#game2 {
	width: 100%;
}

[id^="game"] {
	color: #ffffff;
	font-family: "Ubuntu", sans-serif;
	font-size: 24px;
	text-align: center;
}

@media all and (max-width: 30em) {
	button {
		display: block;
		margin: 0.4em auto;
	}
}
